.header {
    height: 95vh;

    // Start with the small image, use media queries below to load large image
    background-image: linear-gradient(to right bottom, 
                                      rgba($color-primary-light, 0.8),
                                      rgba($color-primary-dark, 0.8)),
                                      url('../img/hero-small.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    /* Clip path defines a polygon, starting 0, 0 is the top left of the header image */
    /* Useful tool at https://bennettfeely.com/clippy/ */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    // Media queries for loading large images
    // 192 dpi is a standard reference for hi-res screens
    // Anything > 192dpi and > 600px (37.5em) image width size, will run the code here
    // OR
    // Also load the large image if the screen width is very large > 125em (2000px)
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
           only screen and (min-width: 125em) {
        background-image: linear-gradient(to right bottom, 
                                         rgba($color-primary-light, 0.8),
                                         rgba($color-primary-dark, 0.8)),
                                         url('../img/hero.jpg');
    }

    

    // Reduce clip path on smaller screens
    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        /* Absolute position of the logo box relative to its parent, which is header (set to relative in .header) */
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        /* These top and left are in relation to the parent element */
        top: 40%;
        left: 50%;
        /* Puts the text in the middle of the page */
        /* In relation to the element itself and not the parent element */
        transform: $transform-center;
    
        /* Center the button (button is inline and is treated like text) */
        text-align: center;
    }
}