.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;

    // Move the grey background up into the header section 
    // (so the bottom right clip is not white but the slight grey).
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;

    background-image: linear-gradient(to right bottom, 
                                    rgba($color-primary-light, 0.8),
                                    rgba($color-primary-dark, 0.8)),
                                    url('../img/nat-4.jpg');
    background-size: cover;

    // Skew the entire section, but only affect the image
    transform: skewY(-7deg);

    // Move up the background image up to cover the skewed white showing in the top left
    margin-top: -12rem;

    // Universal selector to select all childs, but only 1 child level
    // I.e. the row class only in the section-features class in the HTML
    & > * {
        // Skew back in the other direction to straighten it out
        transform: skewY(7deg);
    }
}

.section-tours {

    // Move the grey background up into the header section 
    // (so the bottom right clip is not white but the slight grey).
    margin-top: -11rem;

    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
}

.section-stories {
    // Background video uses absolute, so parent needs to be relative
    position: relative;
    padding: 15rem 0;
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {

    // Create the booking box
    // Line through the middle is 105 deg
    // White 90% opacity for the first half of the gradient
    // Transparent for the other half to see the background image
    background-image: linear-gradient(105deg,
                                      rgba(white, .9) 0%,
                                      rgba(white, .9) 50%,
                                      transparent 50%),
                                        url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(black, .2);

    height: 50rem;

    &__form {
        width: 50%;
        padding: 6rem;
    }
}